    h1 {
       background-color: #99ADDE;
       color: #fff;
      text-align: center;
    }
    
    a {
       color: #40C52E;
    }
    
    body {
       background-color: #ccdddd;
    }
    
    /* mengubah div menjadi tampilan kartu */
    div.kartu-profil {
       background-color: #A7ABCC;
       width: 280px;
       margin: 20px auto;
       padding: 20px;
       border-radius: 15px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
       text-align: center;
    }
    
    div.kartu-profil img {
       border-radius: 50%;
       border: 3px solid #E99EDD;
    }
    
    .navigasi {
       background-color: #889DCE;
       padding: 10px;
       text-align: center;
       border-radius: 10px;
    }
    
    .navigasi a {
       text-decoration: none;
    }
    
    .navigasi .aktif {
       font-weight: bold;
       color: #D21919;
    }
    
    div.kartu-kontak {
       background-color: #ffffff;
       text-align: center;
       width: 80%;
       /*rata tengah horizontal*/
       margin: 0 auto;
       padding: 10px;
       /* sudut kotak tumpul*/
       border-radius: 10px;
    }
    
    .tombol-medsos {
       /* agar tombol melebar satu baris penuh */
       display: block;
       padding: 10px;
       /* teks rata tengah */
       text-align: center;
       text-decoration: none;
       margin: 8px;
       /*sudut tumpul */
       border-radius: 15px;
    }
    
    .wa {
       background-color: #03FEF3;
    }
    
    .github {
       background-color: #dddddd;
    }